<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.dubSwim.example"
        versionCode = "5"
        version = "0.0.5" >

    <!-- versionCode is optional and Android only -->

        <name>Dubswim</name>

        <description>
            trial version of dubswim
        </description>

        <author href="" email="">
             D Scanlon
        </author>
            
    
        <icon src="icon.png" />
        <preference name="phonegap-version" value="cli-5.2.0" />
        <gap:platform name="android" />
        <gap:platform name="ios"/>
        <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.3" />
    </widget>

   
